<!-- Three -->
<section id="three" class="wrapper style1 fade-up">
	<div class="inner">
		<h2>Get in touch</h2>
		<p>Do you want to know more about our research? Or talk to us about the impact of the project? Let us know!</p>
		<div class="split style1">
			<section>
				<form method="post" action="https://formspree.io/f/xqenpbkr">
					<div class="field half first">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" required/>
					</div>
					<div class="field half">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" required/>
					</div>
					<div class="field">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="5" required></textarea>
					</div>
					<ul class="actions">
						<li><button type="submit">Send Message</a></li> <!-- <li><a href="" class="button submit">Send Message</a></li> -->
					</ul>
				</form>
			</section>
			<section>
				<ul class="contact">
					<li>
						<h3>University of Fribourg</h3>
						<span>Centre for European Studies<br />
						Bd de Pérolles 90<br />
						1700 Fribourg<br />
						Switzerland</span>
						
					</li>
					<li>
						<h3>Email</h3>
						<a href="mailto:europe@unifr.ch">europe@unifr.ch</a>
					</li>
					<li>
						<h3>Supported by the SNSF</h3>
						<span>Grant number: <a href = "https://data.snf.ch/grants/grant/10005358">10005358</a></span>
					</li>
					<!-- <li>
						<h3>Social</h3>
						<ul class="icons">
							<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>
					</li> -->
				</ul>
			</section>
		</div>
	</div>
</section>

</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
	<div class="inner">
		<ul class="menu">
			<li>&copy; The DEMCOM-project team. All rights reserved.</li><li>Design adapted from: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
